

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* src/index.css */

/* Import Helvetica font */
@font-face {
  font-family: 'Helvetica';
  src: url('./fonts/helvetica.ttf') format('truetype');
}

/* Set the default font to Helvetica */
body {
  font-family: Helvetica, Arial, sans-serif;
}
